name: Setup CI
on:
  push:
    paths:
      - ".upptimerc.yml"
  repository_dispatch:
    types: [setup]
  workflow_dispatch:
jobs:
  release:
    name: Setup Upptime
    runs-on: ubuntu-latest
    steps:
      # Checkout repository
      - name: Checkout
        uses: actions/checkout@11bd7190b6c3b3efc4797b8c4f7f2f14a0b8bfb0
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GH_PAT || github.token }}

      # Update Upptime template
      - name: Update template
        uses: upptime/uptime-monitor@00c72a91a93e179f77a5df612cbe0e9d1534e65b
        with:
          command: "update-template"
        env:
          GH_PAT: ${{ secrets.GH_PAT || github.token }}

      # Update response time
      - name: Update response time
        uses: upptime/uptime-monito

